.order-container {
    min-height: 90vh;

    .title {
        text-align: center;
        margin-top: 15px;
        color: white;
        font-weight: bold;
    }

    .back-btn {
        font-size: 19px;
        color: white;
        font-weight: bold;
        border: 1px solid white;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }


    .back-btn:hover {
        background-color: rgb(250, 145, 127);
        color: black;
    }


    .ul {

        border: 1px solid white;
        padding: 20px;
        margin-top: 10px;

        .value-container {


            .nav-item {
                display: flex;
                color: white;


                .model-title {

                    width: 92px;
                    
                    .item-model {
                        color: rgb(255, 183, 39);
                        border: 1px solid white;
                        margin-bottom: 5px;
                    }

                    .model-value {

                        font-size: 13px;
                        width: 100px;

                        .order-remove-btn {
                            background-color: transparent;
                            color: white;
                            transition: all .3s ease-in-out;
                        }

                        .order-remove-btn:hover {
                            color: red;
                            scale: 1.1;
                        }

                        .user-order-img {
                            width: 70px;
                            height: 70px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}


.admin-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent !important;
    transform: translate(-50%, -50%);
}



@media (max-width: 1000px) {

    .nav-item {
        display: block !important;
    }
}