<div class="m-auto w-25 container">

    <h2 class="text-center">Recovery Password</h2>

    <div class="login-container center">

        <form class="login-form" #recoveryForm="ngForm" (ngSubmit)="onSubmitReset()">

            <div class="text-center field-container">

                <label class="form-label" for="password">New Password</label>

                <div class="pass-input">


                    <!-- Displays the password in text format -->

                    <input class="form-control" [type]="showPassword ? 'text' : 'password'" id="password"
                        name="password" [(ngModel)]="newPassword" required #password="ngModel">
                    <i (click)="togglePasswordVisibility()" class=" eye fa-regular fa-eye"></i>

                </div>

                <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <span class="error-message" *ngIf="password.errors">Password is required</span>
                </div> -->

            </div>

            <div class="form-item text-center field-container">

                <label class="form-label" for="repeatPassword">Repeat Password</label>

                <div class="pass-input">

                    <!-- Displays the password in text format -->

                    <input class="form-control" [type]="showRepeatPassword ? 'text' : 'password'" id="repeatPassword"
                        name="repeatPassword" [(ngModel)]="repeatPassword" required #repeatPasswordInput="ngModel">
                    <i (click)="togglePasswordRepeatVisibility()" class=" eye fa-regular fa-eye"></i>

                </div>


                <!-- Checks if the repeated password matches -->

                <div *ngIf="recoveryForm.submitted && newPassword !== repeatPasswordInput.value">

                    <span class="error-message">
                        Passwords do not match
                    </span>

                </div>

                <small class="success">{{success}}</small>
                <small class="error-message">{{message}}</small>

            </div>

            <div class="text-center field-container">

                <button class="w-100 btn sing-btn" type="submit" [disabled]="recoveryForm.invalid">Recovery</button>

            </div>
        </form>
    </div>
</div>