.container {

    height: 110vh;

    .back-btn {
        font-size: 19px;
        color: white;
        font-weight: bold;
        border: 1px solid white;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .back-btn:hover {
        background-color: rgb(250, 145, 127);
        color: black;
    }

    .product-upload-container {

        height: 90vh;
        padding: 40px;

        .product-form {

            .title {
                color: #ffffff;
                font-weight: bold;
                margin-bottom: 80px;
            }

            width: 250px;
            margin: auto;

            .form-control {
                border: none;
                border-bottom: 1px solid #ffffff;
                background-color: transparent !important;
                border-radius: 0;
                box-shadow: none;
                color: #ffffff;
            }

            margin-top: 30px;

            .form-label {
                color: #ffffff;
                font-size: 18px;
                font-weight: bold;
            }

            .category-select {
                margin: 20px 0;
            }

            .btn {
                margin: 20px 0;
            }
        }
    }
}